
.tools {
    height: 50px;
    width: 75px;
    display:grid;
   grid-template-columns: auto auto auto;
   margin: auto;
}
#editor{
  text-align: center;
}
.toolrect {

    height:320px;
    width:180px;
    margin:-300px;
    margin-left:420px;

}
 .square  {
    height: 100px;
    width: 100px;
  }
  .square:focus {
    outline: none;
  }
  .square:hover{
    cursor: pointer;
  }
.contenedor  {
display:grid;
grid-template-columns: auto auto auto  auto auto;
width: 500px;
margin:auto;
}
.center {
    text-align:center;
    height:400px;
    width:580px;
    background: yellow;
    margin: auto;
}